<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#klingons" aria-controls="klingons" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-secondary"><span class="w-100">Klingons</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="klingons" class="toggle-section-content collapse">
		<p>The Klingon supliment for the old FASA game was written by the same people who wrote the first Star Trek novels about Klingons. They created a rich, deep society that got tossed when Star Trek: The Next Generation came around. In this game, we're going to consider that to be a social shift over time. In our game, it's original Klingons with FASA culture.</p>

		<div class="alert alert-info" role="alert">
			Klingons have strong bones and an armored spine, with a ridge leading all the way up the neck and over the skull. This means that the Klingon spine is less flexible than a human's, but is more resistant to damage. In game terms, this means -1 DEX is lost in exchange for 1pt of PD against blunt attacks.
		</div>

		<p>As described on the <a title="Setting" href="{{ '/setting/' | relative_url }}">Setting</a> page, there is only one kind of Klingon. FASA explained differences between the old show and the movies through genetically altered Human/Klingon fusions, meant to interact better with the UFP. But really... prosthetic makup was difficult for a TV show in the 60's so they just used constuming and facaial hair. They also painted the actors brown in most cases, which doesn't seem so good in retrospect. For our story, imagine the TNG Klingons in the old 1960's uniforms, and a wide range of skin colors.</p>

		<div class="alert alert-primary" role="alert">
			Klingons in the FASA setting have shorter lifespans than humans, reaching adulthood at 12 years and beginning the physical decline of age in their forties. (For modern humans this happens in their fifties.) The true lifespan of the Klingon species is uncertain, however, because the data is skewed by all the stabbing.
		</div>

		<h4>Klingon Racial Package (7/-25)</h4>
		<table class="table border-bottom mb-5">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Characteristics</th>
			</thead>
			<tr>
				<td>-3</td>
				<td>-1 DEX</td>
			</tr>
			<tr>
				<td>2</td>
				<td>+1 BODY</td>
			</tr>
			<tr>
				<td>2</td>
				<td>+2 PRE</td>
			</tr>
			<thead class="table-info">
				<th colspan=2>Powers</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Strong Bones and Reinforced Spine: Armor (1 PD/0 ED) (2 Active Points); Only works against Limited Type of Attack (Blunt Trauma; -1/2)<br><strong>Notes:</strong> A Klingon's spine is reinforced all the way up to the base of the skull, and a ridge protects the skull itself.</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Life Support (Safe in Intense Heat)</td>
			</tr>
			<thead class="table-info">
				<th colspan=2>Disadvantages</th>
			</thead>
			<tr>
				<td>-10</td>
				<td>Distinctive Features, Klingon: <em>Not Concealable; Noticed and Recognizable; Detectable by Commonly-Used Senses; Not Distinctive in Some Cultures</em></td>
			</tr>
			<tr>
				<td>3</td>
				<td>Reputation: Violent (A large group) 14-, +1/+1D6</td>
			</tr>
			<tr>
				<td>-5</td>
				<td>Vulnerability: 1 1/2 x STUN from Cutting Weapons (Uncommon)<br><strong>Notes:</strong> The Klingon circulatory system is closer to the surface to distribute heat in warm environments. This causes them to bleed more from cuts.</td>
			</tr>
		</table>
		<h4>Klingon Cultural Package (7/0)</h4>
		<p>Due to their physical strengths and weaknesses, Klingons tend to focus on knife fighting. Hand-to-hand combat is something they do while searching for a blade, and that doesn't take long because everyone carries a knife at all times.</p>
		<table class="table">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>0</td>
				<td>CuK: Klingon 8-</td>
			</tr>
			<tr>
				<td>5</td>
				<td>Klingon Knife Fighting (CSL): +1 with any three maneuvers or a tight group of attacks</td>
			</tr>
			<tr>
				<td>2</td>
				<td>WF: Common Melee Weapons</td>
			</tr>
			<tr>
				<td>2</td>
				<td>WF: Disruptor Weapons</td>
			</tr>
			<thead class="table-info">
				<th colspan=2>Disadvantages</th>
			</thead>
			<tr>
				<td>-5</td>
				<td>Psychological Limitation: Paranoia <em>(Uncommon, Moderate)</em><br><strong>Notes:</strong> Part of the komerex zha, or perpetual game. The strong seek advantage over the weak. Klingons expect this behavior, even from other races.</td>
			</tr>
		</table>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#orions" aria-controls="orions" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-primary"><span class="w-100">Orions</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="orions" class="toggle-section-content collapse">
		<p>FASA provided a comprehensive suppliment for the Orions, and it wouldn't surprise me if the Ferengi were just a little bit based upon them. The difference is that Orions like to spend money as much almost as much as they love to make it. They gain status by showing off how well they're doing and how many people they can take care of, but going bankrupt is unthinkable.</p>
		<p>Orions think of everything as a transaction, but they have strong loyalty for family and think of "value" as more than just money alone. They wheel and deal and haggle and bargain, and they're not too picky about how they get ahead.</p>
		<h4>The Green Slave Trade</h4>
		<p>The thing that's hardest to get about Orion culture is the practice of life-contracting, otherwise known as the Green Slave Trade. It's been part of their culture for thousands of years, and the Federation has been unable to stamp it out. When authorities try to enforce anti-slavery laws on Orion planets within the UFP, everyone denies that any slavery is going on. The Greens themselves will claim to merely be employees.</p>
		<p>Ruddy Orions are 35% of the population, with Greens making up the majority. Only Greens are slaves. Ruddies are the managerial class, and are always in charge. Greens are the labor force.</p>
		<p>Orions are the original capitalists, and they've worked the exploitation of workers pretty deep into the culture. On the bright side, an Orion who spends time in the UFP tends to see the value of space socialism. Perhaps with enough social exposure, the Federation can influence Orion culture to abandon old practices.</p>

		<h4>Orion Racial Package: Ruddy (5/-10)</h4>
		<p>Ruddy Orions are tall and slender, with skin colors ranging from deep ruddy orange to pale yellow. Their hair and eyes come in shades of gray, from pure white to charcoal black. They tend to be slender and prefer short hair or a shaved scalp.</p>
		<table class="table border-bottom mb-5">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-warning">
				<th colspan=2>Characteristics</th>
			</thead>
			<tr>
				<td>2</td>
				<td>+1 EGO</td>
			</tr>
			<tr>
				<td>2</td>
				<td>+2 PRE</td>
			</tr>
			<tr>
				<td>1</td>
				<td>+2 COM</td>
			</tr>
			<thead class="table-warning">
				<th colspan=2>Disadvantages</th>
			</thead>
			<tr>
				<td>-10</td>
				<td>Distinctive Features, Ruddy Orion: <em>Not Concealable; Noticed and Recognizable; Detectable by Commonly-Used Senses; Not Distinctive in Some Cultures</em></td>
			</tr>
		</table>

		<h4>Orion Racial Package: Green (5/-10)</h4>
		<p>Green Orions are also tall, but their builds are stronger and a life of manual labor gives them more muscle. Their skin comes in shades of green, and they have thick black hair with metallic green highlights. Body hair is common among all genders, and is considered a mark of distinction.</p>
		<p>Green Orions also have a distinctive smell. It's not unpleasant, and is unnoticable after a few minutes. This is a powerful pheremone which is released from the Orion's mildly oily skin. This pheremone tends to relax humanoid races, but strong emotions can change the scent. A group of angry or frightened Greens can literally transmit their emotional state to others.</p>
		<div class="alert alert-warning" role="alert">
			These pheremones don't cost any points because they're not strong eough for a single character to actively use and the effect is easily resisted by those who are aware. It only matters for large groups of Greens, so the power is basically a plot device. To simulate the individual effect, Greens have a slightly higher PRE and COM.
		</div>
		<table class="table border-bottom mb-5">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-warning">
				<th colspan=2>Characteristics</th>
			</thead>
			<tr>
				<td>3</td>
				<td>+3 PRE</td>
			</tr>
			<tr>
				<td>2</td>
				<td>+4 COM</td>
			</tr>
			<thead class="table-warning">
				<th colspan=2>Disadvantages</th>
			</thead>
			<tr>
				<td>-10</td>
				<td>Distinctive Features, Green Orion: <em>Not Concealable; Noticed and Recognizable; Detectable by Commonly-Used Senses; Not Distinctive in Some Cultures</em></td>
			</tr>
		</table>
		<h4>Orion Cultural Package (10/0)</h4>
		<p>Orions will speak the language of the people they are selling to, and will tend to speak Orion only with each other. Every Orion speaks multple languages and is guaranteed to speak whatever non-Orion language is common to their area of space. They also start with the Trading skill, because their entire culture revolves around it.</p>
		<div class="alert alert-danger" role="alert">
			At the time of this game, their isn't much contact with the Romulan Star Empire. Orion Trade envoys sent to Romulan space don't return.
		</div>
		<table class="table">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-warning">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>0</td>
				<td>CuK: Orion 8-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Trading</td>
			</tr>
			<tr>
				<td>1</td>
				<td>KS: Interstellar Commerce 8-</td>
			</tr>
			<tr>
				<td><strong>3</strong></td>
				<td><strong>Linguist</strong></td>
			</tr>
			<tr>
				<td>1</td>
				<td>Language: Klingon</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Language: Chosen Federation Language</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Language: Chosen Federation Language</td>
			</tr>
		</table>
	</div>
</div>