<div class="card mb-3" data-toggle="collapse" href="#andorians" aria-controls="andorians" aria-expanded="false" role="button">
	<div class="card-header h4 font-weight-normal bg-secondary"><span class="float-left">Andorians</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="andorians" class="collapse">
	<p>These are the blue people with the antennae. They'e a founding member race of the Federation and they're the source of much of it's military strength. Everything from combat training to the design of starship weaponry is strongly influenced by Andorian culture. Although they're a warrior race, they're just as dedicated to peace as anyone else in the Federation.</p>

	<div class="alert alert-warning" role="alert">
		<h4>Hot Heads</h4>
		<p>Andorian history is full of conflict and war during the summer months. They eventually discovered that their species tends to become more aggressive and violent in warmer temperatures. Human room temperature norms are fine, but an Andorian spending any lenth of time on Vulcan would become irritable and easily agitated.</p>
		<p class="mb-0">This doesn't have any points attached to it because Andorians have learned to manage this sort of thing. It's just flavor for role-playing purposes.</p>
	</div>

	<p>Some FASA materials portray the Andorian antenna as a sensitive weak point for their species. This is kind of stupid, since they're a warrior race and those things are right on top of their heads, easily accessible to any opponent. In this game, they're no more sensitive to pain than human ears. Plus, antennae grow back if severed. Of course, hitting one will screw up the person's balance and composure for a moment, kind of like being poked in the eye. Except it's an ear. Well, sort of...</p>
	<h4>Andorian Racial Package (16/-20)</h4>
	<table class="table border package mb-5">
		<thead>
			<th>Cost</th>
			<th>Description</th>
		</thead>
		<thead class="table-info">
			<th colspan=2>Characteristics</th>
		</thead>
		<tr>
			<td>1</td>
			<td>+1 STR</td>
		</tr>
		<tr>
			<td>2</td>
			<td>+1 CON</td>
		</tr>
		<tr>
			<td>2</td>
			<td>+1 EGO</td>
		</tr>
		<thead class="table-info">
			<th colspan=2>Powers</th>
		</thead>
		<tr>
			<td>3</td>
			<td>Antennae: Ultrasonic Perception (Hearing Group)</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Antennae: +2 PER with all Sense Groups</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Life Support (Safe in Intense Cold)</td>
		</tr>
		<thead class="table-info">
			<th colspan=2>Disadvantages</th>
		</thead>
		<tr>
			<td>-10</td>
			<td>Distinctive Features, Andorian: <em>Not Concealable; Noticed and Recognizable; Detectable by Commonly-Used Senses; Not Distinctive in Some Cultures</em></td>
		</tr>
		<tr>
			<td>-5</td>
			<td>Psychological Limitation, Aggressive in Hot Environment: <em>(Uncommon, Moderate) Notes: Not rage-based. More psychotic and cunning. Andorians are dangerous in hotter climates. EGO check to resist, based upon time exposed to environment.</em></td>
		</tr>
		<tr>
			<td>-5</td>
			<td>Antennae Strikes: <em>BODY damage directly to antennae act as Flash against senses and balance. Perception bonus replaced by -2 penalty, DEX roll to stand.</em></td>
		</tr>
	</table>
	<h4>Andorian Cultural Package (7/0)</h4>
	<table class="table">
		<thead>
			<th>Cost</th>
			<th>Description</th>
		</thead>
		<thead class="table-info">
			<th colspan=2>Skills</th>
		</thead>
		<tr>
			<td>0</td>
			<td>CuK: Andorian 8-</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Andorian Combat Training (CSL): +1 with DCV</td>
		</tr>
		<tr>
			<td>2</td>
			<td>WF: Common Melee Weapons</td>
		</tr>
	</table>
</div>

<div class="card mb-3" data-toggle="collapse" href="#tellarites" aria-controls="tellarites" aria-expanded="false" role="button">
	<div class="card-header h4 font-weight-normal bg-primary"><span class="float-left">Tellarites</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="tellarites" class="collapse">
	<p>The original series doesn't tell us very much about Tellarites, so most of what we have was written by FASA when the Star Trek RPG was created. They love to debate in the same way that Andorians love to spar, so it's important not to take their arguments personally. Tellarites are the Federation's experts at fusion power technology and are difficult to beat in a good haggling session due to their love of argument.</p>
	<h4>Tellarite Racial Package (12/-15)</h4>
	<table class="table border package mb-5">
		<thead>
			<th>Cost</th>
			<th>Description</th>
		</thead>
		<thead class="table-warning">
			<th colspan=2>Characteristics</th>
		</thead>
		<tr>
			<td>1</td>
			<td>+1 STR</td>
		</tr>
		<tr>
			<td>4</td>
			<td>+2 CON</td>
		</tr>
		<tr>
			<td>2</td>
			<td>+1 BODY</td>
		</tr>
		<tr>
			<td>-1</td>
			<td>-2 COM</td>
		</tr>
		<thead class="table-warning">
			<th colspan=2>Powers</th>
		</thead>
		<tr>
			<td>2</td>
			<td>Low Light Vision: <em>(5 active point); doesn't work in total darkness; based upon Nightvision; -1</em></td>
		</tr>
		<tr>
			<td>4</td>
			<td>Life Support: <em>Eating: Can go twice as long without eating; Immunity: Alcohol 2/3</em></td>
		</tr>
		<thead class="table-warning">
			<th colspan=2>Disadvantages</th>
		</thead>
		<tr>
			<td>-10</td>
			<td>Distinctive Features, Tellarite: <em>Not Concealable; Noticed and Recognizable; Detectable by Commonly-Used Senses; Not Distinctive in Some Cultures</em></td>
		</tr>
		<tr>
			<td>-5</td>
			<td>Reputation: Belligerent, 8-</td>
		</tr>
	</table>
	<h4>Tellarite Cultural Package (3/-5)</h4>
	<table class="table">
		<thead>
			<th>Cost</th>
			<th>Description</th>
		</thead>
		<tr>
			<td>0</td>
			<td>CuK: Tellarite 8-</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Persuasion 11-</td>
		</tr>
		<thead class="table-warning">
			<th colspan=2>Disadvantages</th>
		</thead>
		<tr>
			<td>-5</td>
			<td>Social Limitation: Loves to argue (Occasionally, minor)</td>
		</tr>
	</table>
</div>

<div class="card mb-3" data-toggle="collapse" href="#vulcans" aria-controls="vulcans" aria-expanded="false" role="button">
	<div class="card-header h4 font-weight-normal bg-secondary"><span class="float-left">Vulcans</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="vulcans" class="collapse">
	<p>Everyone knows what Vulcans are, so I'll just go over the particulars of this game. Keep in mind that Spock was half human. He's a wild, violent hippie compared to the rest of his people. He also got a brand new body on the Genesis Planet, so we can't use his lifespan as an indicator for anything.</p>
	<p>The Vulcan nerve pinch will start small, but players can add points to it to make it more effective. <em>(Spock was <strong>really</strong> good at nerve pinches.)</em> The Mind Meld isn't even detailed here because frankly, it's a mess. It has so many limitations for that 1D6 that they're hardly worth writing down. Just trust me that it's cheap and remember what you saw on the show. We'll role-play it out. <em>(It's also cumulative, so that 1D6 can take you really far if nobody interrupts you.)</em></p>

	<div class="alert alert-danger" role="alert">
		<h4>Mind melds are a two-way street.</h4>
		<p class="mb-0">That's one of the reasons why it's so cheap. Physical contact is required and anything bad that happens during the meld is shared equally by both parties. If the target is in pain, then everybody is in pain. If the target is having a psychotic episode... well, just make sure you can keep grip on yourself so your friends don't have to pull you away and put you in the corner for a few minutes.</p>
	</div>

	<p>If the target has a virus that you don't want to catch then it's possible to achieve a meld with gloves on. However, it requires considerable effort just to get started and nothing can be done through a glass wall. You would have to put on a sealed suit and go into the isolation room with the patient. <em>(I know that Spock once planted a suggestion in someone's mind from a distance in the show, but that was just a writing decision to move the plot along.)</em></p>

	<div class="alert alert-warning" role="alert">
		<h4>Blocking pain can lead to trouble.</h4>
		<p>Pain blocking is part of the Vulcan racial package because it's part of their telepathic ability. They're essentially hypnotizing themselves. This can be a problem when a Vulcan is sick or injured because they don't like to show any reaction to pain or discomfort. They tend to block what they can and suffer the rest without complaint.</p>
		<p class="mb-0">It's not unheard of for a Vulcan with a serious problem to just block the pain until their body gives out. So if a Vulcan suddenly passes out at work, send them to sickbay for a full exam and a stern talking-to.</p>
	</div>

	<h4>Vulcan Racial Package (25/-5)</h4>
	<table class="table border package mb-5">
		<thead>
			<th>Cost</th>
			<th>Description</th>
		</thead>
		<thead class="table-info">
			<th colspan=2>Characteristics</th>
		</thead>
		<tr>
			<td>2</td>
			<td>+2 STR</td>
		</tr>
		<tr>
			<td>4</td>
			<td>+2 CON</td>
		</tr>
		<tr>
			<td>2</td>
			<td>+1 BODY</td>
		</tr>
		<tr>
			<td>2</td>
			<td>+2 INT</td>
		</tr>
		<tr>
			<td>2</td>
			<td>+1 EGO</td>
		</tr>
		<tr>
			<td>-4</td>
			<td>-4 PRE</td>
		</tr>
		<thead class="table-info">
			<th colspan=2>Perks</th>
		</thead>
		<tr>
			<td>3</td>
			<td>Reputation: Smart (A large group) 14-, +1/+1D6</td>
		</tr>
		<thead class="table-info">
			<th colspan=2>Talents</th>
		</thead>
		<tr>
			<td>2</td>
			<td>Block Pain: Resistance (2pts)</td>
		</tr>
		<thead class="table-info">
			<th colspan=2>Powers</th>
		</thead>
		<tr>
			<td>1</td>
			<td>Vulcan Eyes: Flash Defense (Sight Group, Light)</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Vulcan Ears: Ultrasonic Perception (Hearing Group)</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Life Support (Longevity: 200 Years; Safe in Intense Heat)</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Vulcan Nerve Pinch, Hand-To-Hand Attack +1D6, <em>No Normal Defense ([Standard]; +1) (10 Active Points); Increased Endurance Cost (x2 END; 1/2), Restrainable (-1/2), Hand-To-Hand Attack (-1/2)</em></td>
		</tr>
		<tr>
			<td>2</td>
			<td>Vulcan Mind Meld: Telepathy 1D6, <em>(Humanoid class of minds) (5 Active Points); Special Rules (-1)</em></td>
		</tr>
		<thead class="table-info">
			<th colspan=2>Disadvantages</th>
		</thead>
		<tr>
			<td>-5</td>
			<td>Distinctive Features, Vulcan: <em>Easily Concealed; Noticed and Recognizable; Detectable by Commonly-Used Senses;</em></td>
		</tr>
	</table>
	<h4>Vulcan Cultural Package (1/0)</h4>
	<table class="table">
		<thead>
			<th>Cost</th>
			<th>Description</th>
		</thead>
		<thead class="table-info">
			<th colspan=2>Skills</th>
		</thead>
		<tr>
			<td>0</td>
			<td>CuK: Vulcan 8-</td>
		</tr>
		<tr>
			<td>1</td>
			<td>KS: Vulcan Philosophy 8-</td>
		</tr>
	</table>
</div>

<div class="card mb-3" data-toggle="collapse" href="#edoans" aria-controls="edoans" aria-expanded="false" role="button">
	<div class="card-header h4 font-weight-normal bg-primary"><span class="float-left">Edoans</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="edoans" class="collapse">
	<p>Edoans were introduced in the Star Trek Animated Series along with the Catians. In the show they're orange, bald and had three arms/legs. That seems more than a bit silly to me, especially when I imagine them trying to run or sit down. For our game, we're going to do things a little differently.</p>
	<p>Edoans are the same as Saurians. (Yes, they make the famous brandy.) They have four arms, two legs, and they're cold-blooded. Everything else from the RPG sourcebooks remains unchanged. Their cold-blooded nature means that they'll need special clothing in colder environments. They're slightly smaller and lighter than a typical human, and are excellent climbers due to their extra limbs. They are vegetarians.</p>
	<h4>Edoan Racial Package (24/-20)</h4>
	<table class="table border package mb-5">
		<thead>
			<th>Cost</th>
			<th>Description</th>
		</thead>
		<thead class="table-warning">
			<th colspan=2>Characteristics</th>
		</thead>
		<tr>
			<td>-1</td>
			<td>-1 STR</td>
		</tr>
		<tr>
			<td>9</td>
			<td>+3 DEX</td>
		</tr>
		<thead class="table-warning">
			<th colspan=2>Talents</th>
		</thead>
		<tr>
			<td>9</td>
			<td>Ambidexterity (no Off Hand penalty</td>
		</tr>
		<thead class="table-warning">
			<th colspan=2>Powers</th>
		</thead>
		<tr>
			<td>5</td>
			<td>Four Arms: Extra Limbs (2)</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Life Support (Safe in Intense Heat)</td>
		</tr>
		<thead class="table-warning">
			<th colspan=2>Disadvantages</th>
		</thead>
		<tr>
			<td>-10</td>
			<td>Distinctive Features, Edoan: <em>Not Concealable; Noticed and Recognizable; Detectable by Commonly-Used Senses; Not Distinctive in Some Cultures</em></td>
		</tr>
		<tr>
			<td>-10</td>
			<td>Susceptibility: Cold Environment, 1D6 damage/minute <em>(Uncommon; Cold blooded; KO from END = torpor), Note: Special race-specific clothing prevents this problem, if it's available.</em></td>
		</tr>
	</table>
	<h4>Edoan Cultural Package (0/-5)</h4>
	<table class="table">
		<thead>
			<th>Cost</th>
			<th>Description</th>
		</thead>
		<thead class="table-warning">
			<th colspan=2>Skills</th>
		</thead>
		<tr>
			<td>0</td>
			<td>CuK: Edoan 8-</td>
		</tr>
		<thead class="table-warning">
			<th colspan=2>Disadvantages</th>
		</thead>
		<tr>
			<td>-5</td>
			<td>Psychological Limitation: Shy (Uncommon, Moderate)</td>
		</tr>
	</table>
</div>

<div class="card mb-3" data-toggle="collapse" href="#catians" aria-controls="catians" aria-expanded="false" role="button">
	<div class="card-header h4 font-weight-normal bg-secondary"><span class="float-left">Catians</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="catians" class="collapse">
	<p>Let's be honest. These are cat people. They're not an interesting extra-terrestrial race with their own particular nature... they're cats. You know, if cats were people. They're agile and they have tails, but they don't have sword-fingers. Catian claws have diminished over the generations to make room for opposable thumbs and tools. A catian in a knife fight will still need a knife. <em>(Side note: the catian in the Star Trek Animated Series was voiced by Majel Barrett.)</em></p>
	<h4>Catian Racial Package (15/-15)</h4>
	<table class="table border package mb-5">
		<thead>
			<th>Cost</th>
			<th>Description</th>
		</thead>
		<thead class="table-info">
			<th colspan=2>Characteristics</th>
		</thead>
		<tr>
			<td>12</td>
			<td>+4 DEX</td>
		</tr>
		<tr>
			<td>-2</td>
			<td>-1 CON</td>
		</tr>
		<tr>
			<td>1</td>
			<td>+2 COM</td>
		</tr>
		<thead class="table-info">
			<th colspan=2>Powers</th>
		</thead>
		<tr>
			<td>2</td>
			<td>Low Light Vision: <em>(5 active point); doesn't work in total darkness; based upon Nightvision; -1</em></td>
		</tr>
		<tr>
			<td>2</td>
			<td>Extra Limb, Tail: <em>Extra Limb (1), Inherent (+1/4) (6 active points); Very Limited Manipulation (-1), Very Limited Strength (-1), Always On (1/2)</em></td>
		</tr>
		<thead class="table-info">
			<th colspan=2>Disadvantages</th>
		</thead>
		<tr>
			<td>-10</td>
			<td>Distinctive Features, Caitian: <em>Not Concealable; Noticed and Recognizable; Detectable by Commonly-Used Senses; Not Distinctive in Some Cultures</em></td>
		</tr>
		<tr>
			<td>-5</td>
			<td>Psychological Limitation: Hates being wet (Uncommon, Moderate)</td>
		</tr>
	</table>
	<h4>Catain Cultural Package (3/0))</h4>
	<table class="table">
		<thead>
			<th>Cost</th>
			<th>Description</th>
		</thead>
		<thead class="table-info">
			<th colspan=2>Skills</th>
		</thead>
		<tr>
			<td>0</td>
			<td>CuK: Catian 8-</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Climbing 11-</td>
		</tr>
	</table>
</div>

