<div class="card-toggle card mb-3" data-toggle="collapse" href="#merchant-ap-apprenticeship" aria-controls="merchant-ap-apprenticeship" aria-expanded="false" role="button">
	<div class="card-header card-toggle-header h4 font-weight-normal bg-primary"><span class="card-toggle-title float-left">Apprenticeship Basic Training: 18 months (7/0)</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="merchant-ap-apprenticeship" class="collapse">
	<div class="pb-3">
		<p>Apprentices work for their assigned sponsors to earn their keep and in return receive a program of instruction designed to supplement their work experience. After the first 18 months they're screened with a series of evaluation tests.</p>
		<p>Especially promising individuals may obtain grants for advanced studies at a merchant academy, while the rest proceed to a second 18-month program of specialized training with one or more working professionals in their chosen field.</p>
		<table class="table mb-0">
			<thead>
				<th>Cost</th>
			<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Computer Programming 8-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Social Science: Law (UFP) 8-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>SysOp (Environmental Systems) 8-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Trading 11-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>TF: Shuttlecraft</td>
			</tr>
			<thead class="table-info">
				<th colspan=2>Perks</th>
			</thead>
			<tr>
				<td>0</td>
				<td>Interstellar Merchant's Certification: Merchant's Ticket</td>
			</tr>
		</table>
	</div>
</div>

<div class="card-toggle card mb-3" data-toggle="collapse" href="#merchant-ap-engineering" aria-controls="merchant-ap-engineering" aria-expanded="false" role="button">
	<div class="card-header card-toggle-header h4 font-weight-normal bg-secondary"><span class="card-toggle-title float-left">Engineering: 18 months (10/0)</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="merchant-ap-engineering" class="collapse">
	<div class="pb-3">
		<p>Apprentice engineers are the same as academy engineers, because you can't go half-way on warp drive training. They're less experienced with general mechanics because their other skills are more commonly required for their jobs and 18 months can go by pretty fast. After completing the program, students are licensed engineers anywhere the UPF/ITA is recognized.</p>
		<table class="table mb-0">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>3</td>
				<td>Astronautics: Mechanics 11-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Electronics 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Mechanics 8-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Space Science: SS: Warp Drive Physics 11-</td>
			</tr>
			<thead class="table-info">
				<th colspan=2>Perks</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Engineer: Fringe Benefit: License to practice a profession</td>
			</tr>
		</table>
	</div>
</div>

<div class="card-toggle card mb-3" data-toggle="collapse" href="#merchant-ap-helm" aria-controls="merchant-ap-helm" aria-expanded="false" role="button">
	<div class="card-header card-toggle-header h4 font-weight-normal bg-primary"><span class="card-toggle-title float-left">Helm/Navigation: 18 months (8/0)</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="merchant-ap-helm" class="collapse">
	<div class="pb-3">
		<p>Combat Piloting is a familiarity for apprentices, meaning that they can pilot starships under normal circumstances. Without access to the simulators that an academy can provide, it's difficult for apprentices to train for landing in storms or avoiding pirates.</p>
		<table class="table mb-0">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>3</td>
				<td>Astrogation: Navigation 11- <em>(Considered a space science for the purpose of skill levels, but not for skill enhancers.)</em></td>
			</tr>
			<tr>
				<td>1</td>
				<td>Starship Helm: Combat Piloting 8-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>SysOp (Starship Sensors) 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>SysOp (Deflector Shields) 8-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>SysOp (Starship Weaponry) 8-</td>
			</tr>
		</table>
	</div>
</div>

<div class="card-toggle card mb-3" data-toggle="collapse" href="#merchant-ap-financial" aria-controls="merchant-ap-financial" aria-expanded="false" role="button">
	<div class="card-header card-toggle-header h4 font-weight-normal bg-secondary"><span class="card-toggle-title float-left">Financial/Clerical: 18 months (8/0)</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="merchant-ap-financial" class="collapse">
	<div class="pb-3">
		<p>Characters who complete this program can choose to spend an extra point to be an officailly licensed Certified Public Accountant. Prerequisites for this perk are the Accountant professional skill and a familiarity with the law of whatever place the accountant chooses to practice.</p>
		<table class="table mb-0">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Beaurocratics 8-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>PS: Accountant 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>KS: Accounting 8-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>KS: Interstellar Commerce 8-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>KS: Law (UFP) 8-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>KS: Law (Orion) 8-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>SS: Economics 8-</td>
			</tr>
			<thead class="table-info">
				<th colspan=2>Optional Perk (1 point extra)</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Accountant: Fringe Benefit: License to practice a profession</td>
			</tr>
		</table>
	</div>
</div>

<div class="card-toggle card mb-3" data-toggle="collapse" href="#merchant-ap-security" aria-controls="merchant-ap-security" aria-expanded="false" role="button">
	<div class="card-header card-toggle-header h4 font-weight-normal bg-primary"><span class="card-toggle-title float-left">Security: 18 months (9/0)</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="merchant-ap-security" class="collapse">
	<div class="pb-3">
		<p>Security apprentices have essentially the same training as their academy counterparts, but they don't have access to the fleet of vehicles that an academy can provide for training in combat driving.</p>
		<table class="table mb-0">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Bugging 8-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Criminology 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Medical Science: SS: Psychology 8-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>PS: Security Procedures 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Social Science: Law (UFP) 8-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Tactics 8-</td>
			</tr>
		</table>
	</div>
</div>

<div class="card-toggle card mb-3" data-toggle="collapse" href="#merchant-ap-communications" aria-controls="merchant-ap-communications" aria-expanded="false" role="button">
	<div class="card-header card-toggle-header h4 font-weight-normal bg-secondary"><span class="card-toggle-title float-left">Communications/Technical: 18 months (9/0)</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="merchant-ap-communications" class="collapse">
	<div class="pb-3">
		<p>Apprentices in the Communications field tend to pick up languages through immersion while they work, so they have less access to formal training. Their chosen languages and cultural knowledges are based upon the cultures they've been exposed to on the job.</p>
		<table class="table mb-0">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>2</td>
				<td>CuK: Primary 11-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>CuK: Secondary 8-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Language: Primary (fluent conversation; literate)</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Language: Secondary (Basic conversation; literate)</td>
			</tr>			
			<tr>
				<td>1</td>
				<td>PS: Damage Control Procedures 8-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>SysOp (Communication Systems) 11-</td>
			</tr>
		</table>
	</div>
</div>

