<div class="card mb-3" data-toggle="collapse" href="#klingons" aria-controls="klingons" aria-expanded="false" role="button">
	<div class="card-header h4 font-weight-normal bg-primary"><span class="float-left">Klingons</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="klingons" class="collapse">
	<p>The Klingon supliment for the old FASA game was written by the same people who wrote the first Star Trek novels about Klingons. They created a rich, deep society that got tossed when Star Trek: The Next Generation came around. In this game, we're going to consider that to be a social shift over time. In our game, it's original Klingons with FASA culture.</p>

	<div class="alert alert-info" role="alert">
		Klingons have strong bones and an armored spine, with a ridge leading all the way up the neck and over the skull. This means that the Klingon spine is less flexible than a human's, but is more resistant to damage. In game terms, this means -1 DEX is lost in exchange for 1pt of PD against blunt attacks.
	</div>

	<p>As described on the <a title="Setting" href="{{ '/setting/' | relative_url }}">Setting</a> page, there is only one kind of Klingon. FASA explained differences between the old show and the movies through genetically altered Human/Klingon fusions, meant to interact better with the UFP. But really... prosthetic makup was difficult for a TV show in the 60's so they just painted some actors. In our game, Klingons have always looked the way they did in TNG. Just imagine them with the original series uniforms and haircuts.</p>

	<div class="alert alert-primary" role="alert">
		Klingons have shorter lifespans than humans, reaching adulthood at 12 years and beginning the physical decline of age in their forties. (For modern humans this happens in their fifties.) The true lifespan of the Klingon species is uncertain, however, because the data is skewed by all the stabbing.
	</div>

	<h4>Klingon Racial Package (4/-25)</h4>
	<table class="table border-bottom mb-5">
		<thead>
			<th>Cost</th>
			<th>Description</th>
		</thead>
		<thead class="table-info">
			<th colspan=2>Characteristics</th>
		</thead>
		<tr>
			<td>-3</td>
			<td>-1 DEX</td>
		</tr>
		<tr>
			<td>2</td>
			<td>+1 BODY</td>
		</tr>
		<tr>
			<td>2</td>
			<td>+2 PRE</td>
		</tr>
		<thead class="table-info">
			<th colspan=2>Powers</th>
		</thead>
		<tr>
			<td>1</td>
			<td>Strong Bones and Reinforced Spine: Armor (1 PD/0 ED) (2 Active Points); Only works against Limited Type of Attack (Blunt Trauma; -1/2)<br><strong>Notes:</strong> A Klingon's spine is reinforced all the way up to the base of the skull, and a ridge protects the skull itself.</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Life Support (Safe in Intense Heat)</td>
		</tr>
		<thead class="table-info">
			<th colspan=2>Disadvantages</th>
		</thead>
		<tr>
			<td>-10</td>
			<td>Distinctive Features, Klingon: <em>Not Concealable; Noticed and Recognizable; Detectable by Commonly-Used Senses; Not Distinctive in Some Cultures</em></td>
		</tr>
		<tr>
			<td>-5</td>
			<td>Psychological Limitation: Paranoia <em>(Uncommon, Moderate)</em><br><strong>Notes:</strong> Part of the komerex zha, or perpetual game. The strong seek advantage over the weak. Klingons expect this behavior, even from other races.</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Reputation: Violent (A large group) 14-, +1/+1D6</td>
		</tr>
		<tr>
			<td>-5</td>
			<td>Vulnerability: 1 1/2 x STUN from Cutting Weapons (Uncommon)<br><strong>Notes:</strong> The Klingon circulatory system is closer to the surface to distribute heat in warm environments. This causes them to bleed more from cuts.</td>
		</tr>
	</table>
	<h4>Klingon Cultural Package (7/0)</h4>
	<p>Due to their physical strengths and weaknesses, Klingons tend to focus on knife fighting. Hand-to-hand combat is something they do while searching for a blade, and that doesn't take long because everyone carries a knife at all times.</p>
	<table class="table">
		<thead>
			<th>Cost</th>
			<th>Description</th>
		</thead>
		<thead class="table-info">
			<th colspan=2>Skills</th>
		</thead>
		<tr>
			<td>0</td>
			<td>CuK: Klingon 8-</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Klingon Knife Fighting (CSL): +1 with any three maneuvers or a tight group of attacks</td>
		</tr>
		<tr>
			<td>2</td>
			<td>WF: Common Melee Weapons</td>
		</tr>
	</table>
</div>
