<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#academy" aria-controls="academy" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-secondary"><span class="w-100">Starfleet Academy: 4 years (13/-15)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="academy" class="toggle-section-content collapse">
		<div class="pb-3">
			<p>This is a baseline package for all Starfleet characters, regardless of branch. Once a character graduates, they're a Cadet. From here, they're sent to one or more Cadet Cruises for six months each. These cruises help a cadet choose a branch school. It's common to go on two Cadet Cruises, but three or more mean that there's a problem.</p>
			<table class="table border package">
				<thead>
					<th>Cost</th>
					<th>Description</th>
				</thead>
				<thead class="table-info">
					<th colspan=2>Skills</th>
				</thead>
				<tr>
					<td>1</td>
					<td>Computer Programming 8-</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Electronics 8-</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Paramedics 8- (Federation Races)</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Language: Federation Member/Ally/Enemy (basic conversation) 8-</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Physical Science: SS: Chosen 8- 8-</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Space Science: SS: Chosen 8- 8-</td>
				</tr>
				<tr>
					<td>1</td>
					<td>KS: Law (UFP) 8-</td>
				</tr>
				<tr>
					<td>1</td>
					<td>SysOp (Environmental Systems) 8-</td>
				</tr>
				<tr>
					<td>1</td>
					<td>SysOp (Small Equipment Systems) 8-</td>
				</tr>
				<tr>
					<td>1</td>
					<td>SysOp (Transporters) 8-</td>
				</tr>
				<tr>
					<td>1</td>
					<td>TF: Shuttlecraft</td>
				</tr>
				<tr>
					<td>2</td>
					<td>WF: Phaser Weapons</td>
				</tr>
				<thead class="table-info">
					<th colspan=2>Perks</th>
				</thead>
				<tr>
					<td>0</td>
					<td>Starfleet Rank: Ensign</td>
				</tr>
				<tr>
					<td>0</td>
					<td>SECLAR 1: Restricted</td>
				</tr>
				<thead class="table-info">
					<th colspan=2>Disadvantages</th>
				</thead>
				<tr>
					<td>-10</td>
					<td>Social Limitation: Subject to Orders (Frequently, Minor)</td>
				</tr>
				<tr>
					<td>-5</td>
					<td>Distinctive Features: Starfleet Uniform (Easily Concealed; Noticed and Recognizable; Detectable By Commonly-Used Senses)</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#department" aria-controls="department" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-primary"><span class="w-100">Department Head School: 6 months (2/0)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="department" class="toggle-section-content collapse">
		<div class="pb-3">
			<p>This school is a pre-requisite for Command School. Characters who go through this school get an automatic one-rank promotion, (Typically from Ensign to Lt.J.G. as shown) and qualify them to lead a department on a starbase or a ship. Department heads are in control of their departments, but are responsible for the people under their command. (Sort of like an ad/disad of +5/-5.) Attending this school does not guarantee that a character heads a department. It merely qualifies the character for the job.</p>
			<table class="table border package">
				<thead>
					<th>Cost</th>
					<th>Description</th>
				</thead>
				<thead class="table-warning">
					<th colspan=2>Skills</th>
				</thead>
				<tr>
					<td>1</td>
					<td>Bureaucratics 8-</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Leadership 8-</td>
				</tr>
				<thead class="table-warning">
					<th colspan=2>Perks</th>
				</thead>
				<tr>
					<td>0</td>
					<td>Starfleet Rank: Lieutenant Junior Grade</td>
				</tr>
				<tr>
					<td>0</td>
					<td>SECLAR 2: Classified <em>(If the character actually heads a department, they will have SECLAR 3.)</em></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#command" aria-controls="command" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-secondary"><span class="w-100">Command School: 1 year (2/0)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="command" class="toggle-section-content collapse">
		<div class="pb-3">
			<p>This optional school is required for any officer who hopes to command a starship. If the character receives a field command in deep space or something, take these skills anyway to represent the work experience that led to that command.</p>
			<table class="table border package">
				<thead>
					<th>Cost</th>
					<th>Description</th>
				</thead>
				<thead class="table-info">
					<th colspan=2>Skills</th>
				</thead>
				<tr>
					<td>1</td>
					<td>Persuasion 8-</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Starship Strategy: Tactics 8-</td>
				</tr>
				<thead class="table-info">
					<th colspan=2>Perks</th>
				</thead>
				<tr>
					<td>0</td>
					<td>Starfleet Rank: Lieutenant</td>
				</tr>
				<tr>
					<td>0</td>
					<td>SECLAR 3: Classified <em>(If the character is close in line for command, they may have SECLAR 4.)</em></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#communications" aria-controls="communications" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-danger text-white"><span class="w-100">Communications Branch School: 1.5 years (14/0)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="communications" class="toggle-section-content collapse">
		<div class="pb-3">
			<p>This school is for running the Communications systems on a starship or station. Due to the military nature of the training, a familiarity in cryptography is included.</p>
			<p>Damage Control procedures are also included since they're coordinated from the Communications station on a starship's bridge.</p>
			<table class="table border package">
				<thead>
					<th>Cost</th>
					<th>Description</th>
				</thead>
				<thead class="table-danger">
					<th colspan=2>Skills</th>
				</thead>
				<tr>
					<td>2</td>
					<td>CuK: Primary 11-</td>
				</tr>
				<tr>
					<td>2</td>
					<td>CuK: Secondary 11-</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Cryptography 8-</td>
				</tr>
				<tr>
					<td>2</td>
					<td>PS: Damage Control Procedures 11-</td>
				</tr>
				<tr>
					<td>2</td>
					<td>SysOp (Communication Systems) 11-</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Language: Primary (completely fluent; literate) 11-</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Language: Secondary (fluent conversation; literate) 11-</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#helm" aria-controls="helm" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-secondary"><span class="w-100">Helm Branch School: 1.5 years (11/0)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="helm" class="toggle-section-content collapse">
		<div class="pb-3">
			<p>Although this school qualifies the character to helm any starship or small craft, the focus is on military vessels.</p>
			<table class="table border package">
				<thead>
					<th>Cost</th>
					<th>Description</th>
				</thead>
				<thead class="table-info">
					<th colspan=2>Skills</th>
				</thead>
				<tr>
					<td>3</td>
					<td>Combat Piloting (Starship Helm) 11-</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Starship Strategy: Tactics 11-</td>
				</tr>
				<tr>
					<td>2</td>
					<td>SysOp (Starship Weaponry) 11-</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Ship Recognition: KS: Federation, Klingon, Romulan Primary 11-</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Astrogation: Navigation 8- <em>(Considered a space science for the purpose of skill levels, but not for skill enhancers.)</em></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#navigation" aria-controls="navigation" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-primary"><span class="w-100">Navigation Branch School: 1.5 years (14/0)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="navigation" class="toggle-section-content collapse">
		<div class="pb-3">
			<p>Navigators plot courses and operate a ship's shields. A Starfleet navigator is not only able to plot courses by navigation beacons, but by the stars themselves. It's a deeper level of understanding than most civilian schools provide.</p>
			<table class="table border package">
				<thead>
					<th>Cost</th>
					<th>Description</th>
				</thead>
				<thead class="table-warning">
					<th colspan=2>Skills</th>
				</thead>
				<tr>
					<td>3</td>
					<td>Astrogation: Navigation 11- <em>(Considered a space science for the purpose of skill levels, but not for skill enhancers.)</em></td>
				</tr>
				<tr>
					<td>2</td>
					<td>Ship Recognition: KS: Federation, Klingon, Romulan Primary 11-</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Space Science: SS: Astronomy 11-</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Space Science: SS: Astrophysics 8-</td>
				</tr>
				<tr>
					<td>2</td>
					<td>SysOp (Starship Sensors) 11-</td>
				</tr>
				<tr>
					<td>2</td>
					<td>SysOp (Deflector Shields) 11-</td>
				</tr>
				<tr>
					<td>2</td>
					<td>TF: Starship Helm <em><strong>Notes:</strong> Larger spacecraft with warp Drive</em></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#medical" aria-controls="medical" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-secondary"><span class="w-100">Medical Branch School: 3.5 years (15/10)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="medical" class="toggle-section-content collapse">
		<p>Attending this school makes the character a medical doctor, but it's far more advanced than what is needed. Doctor characters just need <em>Paramedics, SS: Medical Science</em> and a license to practice, with the optional addition of <em>Surgery</em>.</p>
		<ul class="list-notes">
			<li>Surgery is both a science skill and a professional skill. The science skill would allow the character to know what surgeries are available, what sort of research has been done, and whether it's worth the risk to try it. The professional skill allows the character to perform the surgery.</li>
			<li>A familiarity with PS: Surgeon allows a character to do most common surgeries without any trouble. Removing an appendix is a good example of a common surgery. Removing a bullet might require a familiarity if the wound was in the leg, but a full skill if it's near the heart.</li>
			<li>PS: Surgeon should go hand-in-hand with Paramedics. A surgeon must know how to stabilize a patient.</li>
		</ul>
		<table class="table border package">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Forensic Medicine 8-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Paramedics 11-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>SysOp (Medical Systems) 11-</td>
			</tr>
			<tr>
				<td>3</td>
				<td><strong>Skill Enhancer:</strong> Scientist</strong></td>
			</tr>
			<tr>
				<td>1</td>
				<td>Medical Science: SS: Medical Science 11- (2 Active Points)</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Medical Science: SS: Pathology 11- (2 Active Points)</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Medical Science: SS: Psychology 11- (2 Active Points)</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Medical Science: SS: Surgery 11- (2 Active Points)</td>
			</tr>
			<tr>
				<td>1</td>
				<td>PS: Surgeon 8-</td>
			</tr>
			<thead class="table-info">
				<th colspan=2>Perks</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Doctor: Fringe Benefit: License to practice a profession</td>
			</tr>
			<thead class="table-info">
				<th colspan=2>Disadvantages</th>
			</thead>
			<tr>
				<td>-20</td>
				<td>Psychological Limitation, Hypocratic Oath: <em>(Common, Moderate)</em></td>
			</tr>
		</table>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#engineering" aria-controls="engineering" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-danger text-white"><span class="w-100">Engineering Branch School: 2.5 years (14/0)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="engineering" class="toggle-section-content collapse">
		<p>General starship engineering. This package is the a bit more advanced than most civilian schools.</p>
		<table class="table border package">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-danger">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>3</td>
				<td>Astronautics: Mechanics 11-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Electronics 11-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Mechanics 11-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Space Science: SS: Astrophysics 11-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Space Science: SS: Warp Drive Physics 11-</td>
			</tr>
			<thead class="table-danger">
				<th colspan=2>Perks</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Engineer: Fringe Benefit: License to practice a profession</td>
			</tr>
		</table>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#science" aria-controls="science" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-secondary"><span class="w-100">Science Branch School: 3.5 years (14/0)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="science" class="toggle-section-content collapse">
		<p>Starship Sensors is a general sort of skill, so it also counts for the operation of ground-based sensors and other scientific sensing equipment. Civilian characters don't necessarily need to take this whole package, however. This represents a large school such as Starfleet Acacemy or the Vulcan Science Academy.</p>
		<table class="table border package">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>3</td>
				<td>Computer Programming 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Electronics 8-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>SysOp (Starship Sensors) 11-</td>
			</tr>
			<tr>
				<td>3</td>
				<td><strong>Skill Enhancer:</strong> Scientist: <em>(Below skills cannot be Medical or Social)</em></td>
			</tr>
			<tr>
				<td>2</td>
				<td>SS: Major 12- (3 Active Points)</td>
			</tr>
			<tr>
				<td>1</td>
				<td>SS: Minor 11- (2 Active Points)</td>
			</tr>
			<tr>
				<td>1</td>
				<td>SS: Minor 11- (2 Active Points)</td>
			</tr>
			<tr>
				<td>1</td>
				<td>SS: Research Studies 11- (2 Active Points) <em>(Can be a separate science or a skill level to an existing science skill.)</em></td>
			</tr>
		</table>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#security" aria-controls="security" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-danger text-white"><span class="w-100">Security Branch School: 1.5 years (13/0)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="security" class="toggle-section-content collapse">
		<p>This package is for Starfleet Security. It includes a better understanding of law than most civilian security schools and includes intensive training in piloting shuttles and small spacecraft.</p>
		<table class="table border package">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-danger">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>3</td>
				<td>Criminology 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Medical Science: SS: Psychology 8-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>PS: Security Procedures 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>KS: Law (UFP) 8-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Combat Piloting (Shuttlecraft Pilot) 11-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Tactics 11-</td>
			</tr>
		</table>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#intelligence" aria-controls="intelligence" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-secondary"><span class="w-100">Intelligence Branch Schools</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="intelligence" class="toggle-section-content collapse">
		<p class="lead">Intelligence Branch School is split into three programs which have a different focus from standard schools.</p>
		<ul class="list-notes">
			<li>Intelligence officers may attend Department Head School if they pursue a desk job, but they rarely attend Command School.</li>
			<li>Sometimes officers are transferred to Intelligence after their time at the Academy. These officers attend one of the regular branch schools instead of this one.</li>
		</ul>
		<h3>Field Operations Branch: 2 Years (13/0)</h3>
		<p>This branch is what most people envision when they think of Starfleet Intelligence. They are trained to obtain information through social situations, investigation or even by theft.</p>
		<table class="table border package">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Bribery 8-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Bugging 8-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Conversation 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Interrogation 8-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Lockpicking 11-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Persuasion 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Shadowing 8-</td>
			</tr>
		</table>
		<h3>Analysis Branch: 2.5 Years (14/0)</h3>
		<p>Many covert teams have an analyst among them, but most people from this branch wind up at a station or an office. Their skills are highly valuable to field agents, however.</p>
		<table class="table border package">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>3</td>
				<td>Cryptography 11-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Bureaucratics 11-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Forgery (Documents) 11-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Interrogation 11-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Language: Chosen (completely fluent; literate) 11-</td>
			</tr>
		</table>
		<h3>Technical Services Branch: 2.5 Years (14/0)</h3>
		<p>Intelligence Technicians are engineers with a more ground-based, military focus. Although some do study Astronautics, it isn't required as part of the curriculum.</p>
		<table class="table border package">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>3</td>
				<td>Demolitions 11-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Electronics 11-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Mechanics 11-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Physical Science: SS: Chemistry 11-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Weaponsmith (Energy Weapons) 11-</td>
			</tr>
		</table>
	</div>
</div>

