<div class="card mb-3" data-toggle="collapse" href="#general" aria-controls="general" aria-expanded="false" role="button">
	<div class="card-header h4 font-weight-normal bg-secondary"><span class="float-left">General Skills</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="general" class="collapse">
	<p>Systems Operation has been broken up into separate skills with a slightly lower cost. Some of them are also Everyman skills, but those only allow basic use. For example, every character can enter a set of coordinates into a transporter and activate it. However, they would need real skill to choose a location on their own or to deal with any problems which may arise.</p>
	<table class="table border package">
		<thead class="table-info">
			<th>General</th>
			<th>Cost</th>
			<th>Stat</th>
			<th>Type</th>
			<th>Description</th>
		</thead>
		<tr>
			<td>Starship Helm: Combat Piloting</td>
			<td>3</td>
			<td>DEX</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Shuttlecraft Pilot: Combat Piloting</td>
			<td>3</td>
			<td>DEX</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Instruction</td>
			<td>3</td>
			<td>PRE</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Leadership</td>
			<td>3</td>
			<td>PRE</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Negotiation/Diplomacy</td>
			<td>3</td>
			<td>PRE</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>PS: Security Procedures</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>SysOp (Communication Systems)</td>
			<td>2</td>
			<td>INT</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>SysOp (Deflector Shields)</td>
			<td>2</td>
			<td>INT</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>SysOp (Environmental Systems)</td>
			<td>2</td>
			<td>INT</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>SysOp (Medical Systems)</td>
			<td>2</td>
			<td>INT</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>SysOp (Small Equipment Systems)</td>
			<td>2</td>
			<td>INT</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>SysOp (Starship Sensors)</td>
			<td>2</td>
			<td>INT</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>SysOp (Transporters)</td>
			<td>2</td>
			<td>INT</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>SysOp (Starship Weaponry)</td>
			<td>2</td>
			<td>INT</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Starship Strategy: Tactics</td>
			<td>3</td>
			<td>INT</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>TF: Shuttlecraft</td>
			<td>1</td>
			<td></td>
			<td>Skill</td>
			<td></td>
		</tr>
	</table>
</div>

<div class="card mb-3" data-toggle="collapse" href="#engineering" aria-controls="engineering" aria-expanded="false" role="button">
	<div class="card-header h4 font-weight-normal bg-primary"><span class="float-left">Engineering Skills</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="engineering" class="collapse">
	<p>Astronautics, Mechanics and Electronics are general skills in this game. Levels must be purchased for individual fields, but they apply for all three general skills. For example, if you buy a skill level in <em>Sensor Systems Technology</em> as a skill level, you can apply it to Electronics for repairing a bridge console, or for Mechanics if you're repairing a satellite dish. You could also use it for Astronautics if you're working on the ships sensor array.</p>
	<table class="table border package">
		<thead class="table-warning">
			<th>Engineering</th>
			<th>Cost</th>
			<th>Stat</th>
			<th>Type</th>
			<th>Description</th>
		</thead>
	 	<tr>
			<td>Electronics</td>
			<td>3</td>
			<td>INT</td>
			<td>Skill</td>
			<td>General skill with all Electronics</td>
		</tr>
		<tr>
			<td>Mechanics</td>
			<td>3</td>
			<td>INT</td>
			<td>Skill</td>
			<td>General skill for mechanical devices</td>
		</tr>
		<tr>
			<td>Astronautics: Mechanics</td>
			<td>3</td>
			<td>INT</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Medical Systems Technology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Level</td>
			<td>1 with with single Stat Roll</td>
		</tr>
		<tr>
			<td>Sensor Systems Technology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Level</td>
			<td>1 with with single Stat Roll</td>
		</tr>
		<tr>
			<td>Deflector Systems Technology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Level</td>
			<td>1 with with single Stat Roll</td>
		</tr>
		<tr>
			<td>Small Equipment Systems Technology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Level</td>
			<td>1 with with single Stat Roll</td>
		</tr>
		<tr>
			<td>Personal Weapons Technology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Level</td>
			<td>1 with with single Stat Roll</td>
		</tr>
		<tr>
			<td>Starship Weaponry Technology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Level</td>
			<td>1 with with single Stat Roll</td>
		</tr>
		<tr>
			<td>Transporter Technology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Level</td>
			<td>1 with with single Stat Roll</td>
		</tr>
	</table>
</div>

<div class="card mb-3" data-toggle="collapse" href="#science" aria-controls="science" aria-expanded="false" role="button">
	<div class="card-header h4 font-weight-normal bg-secondary"><span class="float-left">Science Skills</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="science" class="collapse">
	<p>Science skills aren't any different in this game. I'm just naming the specific skills for the setting.</p>
	<table class="table border package">
		<thead class="table-info">
			<th>Science</th>
			<th>Cost</th>
			<th>Stat</th>
			<th>Type</th>
			<th>Description</th>
		</thead>
		<tr>
			<td>Life Science: SS: Biology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Life Science: SS: Bionics</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Life Science: SS: Ecology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Life Science: SS: Exobiology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Life Science: SS: Botany</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Life Science: SS: Genetics</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Life Science: SS: Zoology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Medical Science: SS: Pathology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Medical Science: SS: Psychology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Medical Science: SS: Surgery</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Physical Science: SS: Chemistry</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Physical Science: SS: Geology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Physical Science: SS: Physics</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Planetary Science: SS: Geology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Planetary Science: SS: Physics</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Planetary Science: SS: Hydrology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Planetary Science: SS: Meteorology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Social Science: SS: Archaeology</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Social Science: SS: Economics</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Social Science: SS: Law</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Space Science: SS: Astrophysics</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Space Science: SS: Astronomy</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Space Science: SS: Warp Drive Physics</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Astrogation: Navigation</td>
			<td>3</td>
			<td>INT</td>
			<td>Skill</td>
			<td>Considered a space science for the purpose of skill levels, but not for skill enhancers.</td>
		</tr>
	</table>
</div>

<div class="card mb-3" data-toggle="collapse" href="#military" aria-controls="military" aria-expanded="false" role="button">
	<div class="card-header h4 font-weight-normal bg-primary"><span class="float-left">Military Skills</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="military" class="collapse">
	<p>Taking a skill level in Starfleet unarmed combat doesn't necessarily reveal a person as Starfleet personnel (although it could if the observer is an expert) but there's a martial arts package which is very distinctive. Choosing specific Starfleet maneuvers will broadcast to others where you were trained.</p>
	<table class="table border package">
		<thead class="table-warning">
			<th>Military</th>
			<th>Cost</th>
			<th>Stat</th>
			<th>Type</th>
			<th>Description</th>
		</thead>
		<tr>
			<td>Starfleet Hand-to-Hand</td>
			<td>3</td>
			<td>GEN</td>
			<td>Level</td>
			<td>1 with Starfleet Unarmed Combat</td>
		</tr>
		<tr>
			<td>WF: Phaser Weapons</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>WF: Disruptor Weapons</td>
			<td>2</td>
			<td>GEN</td>
			<td>Skill</td>
			<td></td>
		</tr>
		<tr>
			<td>Personal Weapons: Weaponsmith</td>
			<td>3</td>
			<td>INT</td>
			<td>Skill</td>
			<td></td>
		</tr>
	</table>
</div>

<div class="card mb-3" data-toggle="collapse" href="#everyman" aria-controls="everyman" aria-expanded="false" role="button">
	<div class="card-header h4 font-weight-normal bg-secondary"><span class="float-left">Everyman Skills</span><i class="fa fa-chevron-right float-right trans-all-short"></i></div>
</div>
<div id="everyman" class="collapse">
	<p>Skills aren't needed for things like Acting, Conversation or Concealment unless you want to be good at them. Even a familiarity indicates an above average proficiency.</p>
	<p>This list assumes that the characters are in the Triangle, two years after the Four Years War with the Klingons. (Phasers are relatively new, so laser weapons are the most common weapon.) Players are free to take one, none or all of these skills.</p>
	<table class="table border package">
		<thead class="table-info">
			<th>Everyman</th>
			<th>Cost</th>
			<th>Stat</th>
			<th>Type</th>
			<th>Description</th>
		</thead>
		<tr>
			<td>AK: Home Planet</td>
			<td>0</td>
			<td>GEN</td>
			<td>Familiarity</td>
			<td></td>
		</tr>
		<tr>
			<td>Computer Programming</td>
			<td>0</td>
			<td>INT</td>
			<td>Familiarity</td>
			<td></td>
		</tr>
		<tr>
			<td>Home Culture/History: SS: Social</td>
			<td>0</td>
			<td>GEN</td>
			<td>Familiarity</td>
			<td></td>
		</tr>
		<tr>
			<td>Language: Galacta</td>
			<td>0</td>
			<td>GEN</td>
			<td>Skill</td>
			<td>Completely fluent; literate</td>
		</tr>
		<tr>
			<td>SysOp (Communication Systems)</td>
			<td>0</td>
			<td>INT</td>
			<td>Familiarity</td>
			<td></td>
		</tr>
		<tr>
			<td>SysOp (Transporters)</td>
			<td>0</td>
			<td>INT</td>
			<td>Familiarity</td>
			<td></td>
		</tr>
		<tr>
			<td>WF: Everyman</td>
			<td>0</td>
			<td>GEN</td>
			<td>Skill</td>
			<td>Clubs, Fist-Loads, Klingon Disruptor Pistol, Laser Pistols,	Laser Rifles, Thrown Rocks, Unarmed Combat</td>
		</tr>
		<tr>
			<td>TF: Everyman</td>
			<td>0</td>
			<td>GEN</td>
			<td>Skill</td>
			<td>Common Motorized Vehicles, Grav Vehicles/Hovercraft, Shuttlecraft</td>
		</tr>
	</table>
</div>
