<div class="d-none d-md-block bg-space p-3 pt-4">
  <div class="container">
    <div class="row">
      <div class="col col-sm-8">
        <a class="masthead-homelink" href="{{ '/' | relative_url }}" title="STRPG" rel="home">
          <img id="site-logo" class="site-logo" alt="Star Trek RPG" src="{{site.baseurl}}assets/img/startrekrpg_logo.png">
          <h1 class="site-title sr-only">STRPG</h1>
          <p class="lead site-description m-0 p-0">HERO System in a FASA Star Trek setting</p>
        </a>
      </div>
      <div class="col col-sm-4">
        <img id="site-enterprise" class="site-enterprise" alt="Starship Enterprise" src="{{site.baseurl}}assets/img/bg_enterprise.jpg">
      </div>
    </div>
  </div>
</div>