<!--
Starfleet Intelligence Manual - Agent's Orientation Sourcebook, page 40
Starfleet Intelligence Manual - Game Operations, page 61
-->

<table class="table table-bordered">
	<thead class="bg-primary text-white">
		<th>Security Clearance Rating (SECLAR) Descriptions</th>
	</thead>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Rating 0: Unclassified</strong></p>
			<p class="mb-0">Unclassified information is common knowledge, widely available to civilians or other non-military personnel through the media or other public sources.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Rating 1: Restricted</strong></p>
			<p class="mb-0">This information may be available through certain public sources with limited access, such as political or military afairs analysis publications. Rating 1 information is often available to interstellar merchants and explorers through sometimes-unreliable sources. All Starleet personnel have at least a Rating 1.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Rating 2: Classified</strong></p>
			<p class="mb-0">Classified information is available only through official Starfleet channels. All security personnel and many officers have a Rating 2.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Rating 3: Confidential</strong></p>
			<p class="mb-0">All Starfleet Intelligence Command personnel, most Security officers, and most department heads have Rating 3.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Rating 4-5: Secret</strong></p>
			<p class="mb-0">Most senior Security officers and most command-rank officers have a Rating 4. The Captain and First Officer on major Starfleet vessels may have a Rating 5. Most Intelligence officers of low rank have a Rating 4 or 5.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Rating 6-7: Top Secret</strong></p>
			<p>Most Intelligence officers of medium rank and most flag-rank officers have a Rating 6. Most Intelligence officers of high rank and certain flag-rank officers have a Rating 7.</p>
			<p class="mb-0">For reference, the super-hush-hush <strong>Project Genesis</strong> from <em>Star Trek II: The Wrath of Khan</em> had a SECLAR of 7. <strong>General Order Number Seven</strong> (referring to Talos IV) in the Original Star Trek pilot <em>The Cage</em> has a SECLAR of 6.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Rating 8: Most Secret</strong></p>
			<p class="mb-0">The Most Secret Rating is used only on a case-by-case basis. Individuals with a Rating 8 are limited to top-echelon officers of Starfleet Command and Starfleet Intelligence Command.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Rating 9: Ultra Secret</strong></p>
			<p class="mb-0">This rating exists only for situations of extreme importance to Federation security.</p>
		</td>
	</tr>
</table>
