<div class="row">
	<div class="col-12 col-md-6 push-md-6 col-lg-5 push-lg-7">
		<table class="table table-bordered">
			<thead class="bg-primary text-white">
				<th colspan=2>Trade Multipliers</th>
			</thead>
			<thead class="table-info">
				<th>PTP Rating</th>
				<th>Multiplier</th>
			</thead>
			<tr>
				<td>A</td>
				<td>0.25</td>
			</tr>
			<tr>
				<td>B</td>
				<td>0.50</td>
			</tr>
			<tr>
				<td>C</td>
				<td>0.75</td>
			</tr>
			<tr>
				<td>D</td>
				<td>1.00</td>
			</tr>
			<tr>
				<td>E</td>
				<td>1.25</td>
			</tr>
			<tr>
				<td>F</td>
				<td>1.50</td>
			</tr>
			<tr>
				<td>G</td>
				<td>1.75</td>
			</tr>
			<tr>
				<td>H</td>
				<td>2.00</td>
			</tr>
		</table>
		<table class="table table-bordered">
			<thead class="bg-primary text-white">
				<th colspan=3>Luxury Item Trade Multipliers</th>
			</thead>
			<thead class="table-info">
				<th>Rating</th>
				<th>Interest</th>
				<th>Multiplier</th>
			</thead>
			<tr>
				<td>A</td>
				<td>Strong</td>
				<td>2.0</td>
			</tr>
			<tr>
				<td>B</td>
				<td>Moderate</td>
				<td>1.5</td>
			</tr>
			<tr>
				<td>C</td>
				<td>Neutral</td>
				<td>0.0</td>
			</tr>
			<tr>
				<td>D</td>
				<td>Disinterested</td>
				<td>0.5</td>
			</tr>
		</table>
		<table class="table table-bordered">
			<thead class="bg-primary text-white">
				<th colspan=3>Population Rating Multipliers</th>
			</thead>
			<thead class="table-info">
				<th>Rating</th>
				<th>Population</th>
				<th>Multiplier</th>
			</thead>
			<tr>
				<td>A</td>
				<td>Dense</td>
				<td>4.0</td>
			</tr>
			<tr>
				<td>B</td>
				<td>Heavy</td>
				<td>2.00</td>
			</tr>
			<tr>
				<td>C</td>
				<td>Moderate</td>
				<td>0.0</td>
			</tr>
			<tr>
				<td>D</td>
				<td>Light</td>
				<td>0.50</td>
			</tr>
			<tr>
				<td>E</td>
				<td>Sparse</td>
				<td>.025</td>
			</tr>
			<tr>
				<td>X</td>
				<td>Small Station or Colony</td>
				<td>0.10</td>
			</tr>
		</table>
	</div>
	<div class="col-12 col-md-6 pull-md-6 col-lg-7 pull-lg-5">
		<table class="table table-bordered">
			<thead class="bg-primary text-white">
				<th>Cargo Types</th>
			</thead>
			<tr>
				<td>
					<p class="lead mb-0"><strong>Foodstuffs and Agricultural Goods</strong></p>
					<p class="mb-0">fruit, grain, vegetables, seed, wood, breeding stock, fertilized animal ova, etc.</p>
					<small>
						<p class="mb-0">Base Price Per SCU: 700cr</p>
						<p class="mb-0">Base Consumption Per Planet: 1000 SCU</p>
					</small>
				</td>
			</tr>
			<tr>
				<td>
					<p class="lead mb-0"><strong>Normal Minerals and Raw Materials</strong></p>
					<p class="mb-0">metals, crystals, natural chemicals, fossil fuels, water, etc.</p>
					<small>
						<p class="mb-0">Base Price Per SCU: 1000cr</p>
						<p class="mb-0">Base Consumption Per Planet: 700 SCU</p>
					</small>
				</td>
			</tr>
			<tr>
				<td>
					<p class="lead mb-0"><strong>Radioactives and Special Minerals</strong></p>
					<p class="mb-0">special alloys, radioactive materials, dilithium crystals, etc.</p>
					<small>
						<p class="mb-0">Base Price Per SCU: 1500cr</p>
						<p class="mb-0">Base Consumption Per Planet: 300 SCU</p>
					</small>
				</td>
			</tr>
			<tr>
				<td>
					<p class="lead mb-0"><strong>Drugs and Medicinal Agents</strong></p>
					<p class="mb-0">refined pharmaceuticals, herbs, rare plants, etc.</p>
					<small>
						<p class="mb-0">Base Price Per SCU: 2000cr</p>
						<p class="mb-0">Base Consumption Per Planet: 500 SCU</p>
					</small>
				</td>
			</tr>
			<tr>
				<td>
					<p class="lead mb-0"><strong>Low-Technology Manufactured Goods</strong></p>
					<p class="mb-0">basic tools, blades, natural textiles, etc.</p>
					<small>
						<p class="mb-0">Base Price Per SCU: 900cr</p>
						<p class="mb-0">Base Consumption Per Planet: 1000 SCU</p>
					</small>
				</td>
			</tr>
			<tr>
				<td>
					<p class="lead mb-0"><strong>Medium-Technology Manufactured Goods</strong></p>
					<p class="mb-0">polymers and plastics, machine tools, projectile weapons, synthetic textiles, etc.</p>
					<small>
						<p class="mb-0">Base Price Per SCU: 700cr</p>
						<p class="mb-0">Base Consumption Per Planet: 1000 SCU</p>
					</small>
				</td>
			</tr>		
			<tr>
				<td>
					<p class="lead mb-0"><strong>High-Technology Manufactured Goods</strong></p>
					<p class="mb-0">computers, electronics gear, energy weapons, air or spacecraft, etc.</p>
					<small>
						<p class="mb-0">Base Price Per SCU: 500cr</p>
						<p class="mb-0">Base Consumption Per Planet: 1000 SCU</p>
					</small>
				</td>
			</tr>
			<tr>
				<td>
					<p class="lead mb-0"><strong>Luxury Items</strong></p>
					<p class="mb-0">gourmet Foods, liquor, gems, rare animals, spices, curios, etc.</p>
					<small>
						<p class="mb-0">Base Price Per SCU: 250cr x 1D10/2</p>
						<p class="mb-0">Base Consumption Per Planet: 100 SCU x 1D10/2</p>
					</small>
				</td>
			</tr>
		</table>
	</div>
</div>