<div class="container-fluid pl-0 pr-0">
	<div class="row">
		<div class="col-12 col-md-6">
			<table class="table table-bordered">
				<thead class="bg-primary text-white">
					<th colspan=2>Engineering</th>
				</thead>
				<thead class="table-info">
					<th>Job</th>
					<th>Grade</th>
				</thead>
				<tr>
					<td>Maintenance Assistant</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Maintenance Technician</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Engineer's Mate</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Ship's Engineer (ship with less than 10 crew)</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Assistant Chief Engineer</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Chief Engineer</td>
					<td>6</td>
				</tr>
				<tr>
					<td>Fleet Engineer</td>
					<td>7</td>
				</tr>
				<tr>
					<td>Star Vessel Design Specialist</td>
					<td>8</td>
				</tr>
			</table>
			<table class="table table-bordered">
				<thead class="bg-primary text-white">
					<th colspan=2>Helm/Navigation</th>
				</thead>
				<thead class="table-info">
					<th>Job</th>
					<th>Grade</th>
				</thead>
				<tr>
					<td>Chart Clerk</td>
					<td>2</td>
				</tr>
				<tr>
					<td>Chartsman</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Assistant Navigator/Helmsman (standing watches)</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Ship's Navigator/Pilot (ship with less than 10 crew)</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Assistant Chief Navigator/Helmsman</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Chief Navigator/Helmsman</td>
					<td>6</td>
				</tr>
			</table>
			<table class="table table-bordered">
				<thead class="bg-primary text-white">
					<th colspan=2>Financial/Clerical</th>
				</thead>
				<thead class="table-info">
					<th>Job</th>
					<th>Grade</th>
				</thead>
				<tr>
					<td>Steward's Mate</td>
					<td>2</td>
				</tr>
				<tr>
					<td>Clerical Assistant/Yeoman</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Assistant Chief Steward</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Chief Steward/Senior Yeoman,<br>Assistant Finance Officer</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Assistant Cargomaster</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Finance Officer/Cargomaster</td>
					<td>6</td>
				</tr>
				<tr>
					<td>Chief of Corporate Finance (mid-sized corporation)</td>
					<td>7</td>
				</tr>
			</table>
		</div>
		<div class="col-12 col-md-6">
			<table class="table table-bordered">
				<thead class="bg-primary text-white">
					<th colspan=2>Sciences</th>
				</thead>
				<thead class="table-info">
					<th>Job</th>
					<th>Grade</th>
				</thead>
				<tr>
					<td>Lab Assistant</td>
					<td>1</td>
				</tr>
				<tr>
					<td>Lab Technician</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Assistant Lab Manager</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Lab Manager</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Sciences Specialist/Research Assistant</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Sub-department Chief (1 science branch)</td>
					<td>6</td>
				</tr>
				<tr>
					<td>Science Officer/Researcher</td>
					<td>6</td>
				</tr>
				<tr>
					<td>Chief of Research (mid-sized corporation)</td>
					<td>7</td>
				</tr>
			</table>
			<table class="table table-bordered">
				<thead class="bg-primary text-white">
					<th colspan=2>Medical</th>
				</thead>
				<thead class="table-info">
					<th>Job</th>
					<th>Grade</th>
				</thead>
				<tr>
					<td>Lab Assistant</td>
					<td>1</td>
				</tr>
				<tr>
					<td>Lab Technician</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Paramedic</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Nurse</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Chief Nurse/Surgical Nurse</td>
					<td>6</td>
				</tr>
				<tr>
					<td>Doctor (M.D.)</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Chief Surgeon/Medical Researcher</td>
					<td>7</td>
				</tr>
			</table>
			<table class="table table-bordered">
				<thead class="bg-primary text-white">
					<th colspan=2>Security</th>
				</thead>
				<thead class="table-info">
					<th>Job</th>
					<th>Grade</th>
				</thead>
				<tr>
					<td>Assistant Watchman/Jailer (supervised)</td>
					<td>1</td>
				</tr>
				<tr>
					<td>Night Watchman/Jailer</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Ship's Security Mate</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Ship's Securityman (ship with less than 10 crew)</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Assistant Security Chief</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Security Chief</td>
					<td>6</td>
				</tr>
				<tr>
					<td>Corporate Security Chief (mid-sized corporation)</td>
					<td>7</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12 col-md-6">
			<table class="table table-bordered">
				<thead class="bg-primary text-white">
					<th colspan=2>Communications</th>
				</thead>
				<thead class="table-info">
					<th>Job</th>
					<th>Grade</th>
				</thead>
				<tr>
					<td>Dispatcher (ground vehicles)</td>
					<td>2</td>
				</tr>
				<tr>
					<td>Communications Tech</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Communications Specialist (watch officer in space)</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Assistant Chief Communications Officer</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Chief Communications Officer</td>
					<td>6</td>
				</tr>
			</table>
		</div>
	</div>
</div>