<div class="container-fluid pl-0 pr-0">
	<div class="row">
		<div class="col-12 col-md-6">
			<table class="table table-bordered">
				<thead class="bg-primary text-white">
					<th colspan=2>Starfleet</th>
				</thead>
				<thead class="table-info">
					<th>Rank</th>
					<th>Pay/Month</th>
				</thead>
				<tr>
					<td>Admiral</td>
					<td>4800 Cr</td>
				</tr>
				<tr>
					<td>Commodore</td>
					<td>4000 Cr</td>
				</tr>
				<tr>
					<td>Captain</td>
					<td>3400 Cr</td>
				</tr>
				<tr>
					<td>Commander</td>
					<td>2800 Cr</td>
				</tr>
				<tr>
					<td>Lieutenant Commander</td>
					<td>2400 Cr</td>
				</tr>
				<tr>
					<td>Lieutenant</td>
					<td>2000 Cr</td>
				</tr>
				<tr>
					<td>Lieutenant, Junior Grade</td>
					<td>1800 Cr</td>
				</tr>
				<tr>
					<td>Ensign</td>
					<td>1600 Cr</td>
				</tr>
				<tr>
					<td>Cadet or Midshipman</td>
					<td>400 Cr</td>
				</tr>
				<tr>
					<td>Chief Warrant Officer</td>
					<td>1400 Cr</td>
				</tr>
				<tr>
					<td>Warrant Officer</td>
					<td>1300 Cr</td>
				</tr>
				<tr>
					<td>Master Chief Petty Officer</td>
					<td>1400 Cr</td>
				</tr>
				<tr>
					<td>Senior Chief Petty Officer</td>
					<td>1000 Cr</td>
				</tr>
				<tr>
					<td>Chief Petty Officer</td>
					<td>900 Cr</td>
				</tr>
				<tr>
					<td>Petty Officer 1st Class</td>
					<td>700 Cr</td>
				</tr>
				<tr>
					<td>Petty Officer 2nd Class</td>
					<td>600 Cr</td>
				</tr>
				<tr>
					<td>Enlisted 1st Class</td>
					<td>500 Cr</td>
				</tr>
				<tr>
					<td>Enlisted 2nd Class</td>
					<td>400 Cr</td>
				</tr>
				<tr>
					<td>Recruit</td>
					<td>400 Cr</td>
				</tr>
			</table>
		</div>
		<div class="col-12 col-md-6">
			<table class="table table-bordered">
				<thead class="bg-primary text-white">
					<th colspan=2>UFP/ITA</th>
				</thead>
				<thead class="table-info">
					<th>Grade</th>
					<th>Pay/Month</th>
				</thead>
				<tr>
					<td>Grade 0</td>
					<td>300 Cr</td>
				</tr>
				<tr>
					<td>Grade 1</td>
					<td>350 Cr</td>
				</tr>
				<tr>
					<td>Grade 2</td>
					<td>500 Cr</td>
				</tr>
				<tr>
					<td>Grade 3</td>
					<td>1000 Cr</td>
				</tr>
				<tr>
					<td>Grade 4</td>
					<td>1300 Cr</td>
				</tr>
				<tr>
					<td>Grade 5</td>
					<td>1800 Cr</td>
				</tr>
				<tr>
					<td>Grade 6</td>
					<td>2300 Cr</td>
				</tr>
				<tr>
					<td>Grade 7</td>
					<td>2600 Cr</td>
				</tr>
				<tr>
					<td>Grade 8</td>
					<td>3000 Cr</td>
				</tr>
			</table>
			<table class="table table-bordered">
				<thead class="bg-primary text-white">
					<th colspan=2>Modifiers for Space Jobs</th>
				</thead>
				<thead class="table-info">
					<th colspan=2>UFP/ITA and Starfleet</th>
				</thead>
				<tr>
					<td>Officers</td>
					<td>+300 Cr</td>
				</tr>
				<tr>
					<td>Department Heads</td>
					<td>+400 Cr</td>
				</tr>
				<tr>
					<td>Chief Medical Officer</td>
					<td>+500 Cr</td>
				</tr>
				<tr>
					<td>First Officer</td>
					<td>+550 Cr</td>
				</tr>
				<tr>
					<td>Captain</td>
					<td>+600 Cr</td>
				</tr>
				<tr>
					<td>Fleet Captain</td>
					<td>+1000 Cr</td>
				</tr>
				<tr>
					<td>Captain Purchasing Bonus</td>
					<td>+200 Cr</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12 col-md-6">
			<table class="table table-bordered">
				<thead class="bg-primary text-white">
					<th colspan=2>Portside Jobs</th>
				</thead>
				<thead class="table-info">
					<th>Grade</th>
					<th>Pay/Month</th>
				</thead>
				<tr>
					<td>Bank Teller</td>
					<td>950 Cr</td>
				</tr>
				<tr>
					<td>Cab Driver</td>
					<td>800 Cr</td>
				</tr>
				<tr>
					<td>Cargo Handler</td>
					<td>1550 Cr</td>
				</tr>
				<tr>
					<td>Factory Labor</td>
					<td>2400 Cr</td>
				</tr>
				<tr>
					<td>News Reporter, Local</td>
					<td>1800 Cr</td>
				</tr>
				<tr>
					<td>Lab Technician</td>
					<td>1550 Cr</td>
				</tr>
				<tr>
					<td>Private Security Guard</td>
					<td>100 Cr</td>
				</tr>
				<tr>
					<td>Retail Clerk</td>
					<td>800 Cr</td>
				</tr>
				<tr>
					<td>Sanitation Worker</td>
					<td>1150 Cr</td>
				</tr>
				<tr>
					<td>Tourist Guide</td>
					<td>1000 Cr</td>
				</tr>
				<tr>
					<td>Waiter/Waitress</td>
					<td>800 Cr</td>
				</tr>
				<tr>
					<td>UFP/ITA Information Clerk</td>
					<td>950 Cr</td>
				</tr>
			</table>
		</div>
	</div>
</div>