html, body {
	height:100%;
}

html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 800px;
}

.content {
	flex: 1 0 auto;
}
.main-header, .main-footer {
	flex-shrink: 0;
}


pre.lineno {
	margin-right: 0.5rem;
}

.bg-black {
	background-color: #000;
}
.bg-space {
	background: #000000 url(#{$baseurl}assets/img/layout/bg_stars.jpg);
}
.masthead-homelink, .masthead-homelink:hover {
	color: #bbb;
	text-decoration: none;
}

.navbar a {
	text-decoration: none;
}


// Turning the chevron around when a card toggle opens its content.
div.card-toggle[aria-expanded="true"] {
	.fa-chevron-right {
		margin-top: .125rem;
		transform: rotate(90deg);
	}
}







.book-list-item {
	p:last-child, ol:last-child, li:last-child {
		margin-bottom:0;
	}
}

@include media-breakpoint-up(sm) {
	.book-list-item img {
		max-width: 150px;
	}
}
@include media-breakpoint-up(lg) {
	.book-list-item img {
		max-width: inherit;
	}
}