html, body {
	height:100%;
}

html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 800px;
}

.content {
	flex: 1 0 auto;
}
.main-header, .main-footer {
	flex-shrink: 0;
}

.navbar .dropdown-toggle {
	color:#fff;
}

pre.lineno {
	margin-right: 0.5rem;
}

.bg-info {
	background-color: #CAEDF5!important;
}

.bg-black {
	background-color: #000;
}
.bg-space {
	background: #000000 url(#{$baseurl}assets/img/layout/bg_stars.jpg);
}
.masthead-homelink, .masthead-homelink:hover {
	color: #bbb;
	text-decoration: none;
}


// Turning the chevron around when a card toggle opens its content.
div.card[aria-expanded="true"] .card-header .fa-chevron-right {
	margin-top: .125rem;
	transform: rotate(90deg);
}

.table.package {
	th:first-child {
		width:4rem;
	}
}


// Definition lists
dd {
	margin-bottom:1.25rem;
	&:last-child {
		margin-bottom: 0;
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}



.book-list-item {
	p:last-child, ol:last-child, li:last-child {
		margin-bottom:0;
	}
}


figure {
	display: table;
	figcaption {
		display: table-caption;
		caption-side: bottom;
		font-size: .85rem;
		padding: .6rem 1rem .7rem;

		border-radius: 1rem;
		border: 1px solid #3281b8;
		background: $light;
		&:not(.border-full) {
			border-radius: 0 0 1rem 1rem;
			border-top: none;
		}
	}
}




@include media-breakpoint-up(sm) {
	.book-list-item img {
		max-width: 150px;
	}
}
@include media-breakpoint-up(lg) {
	.book-list-item img {
		max-width: inherit;
	}
}