<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#merchant-ac-academy" aria-controls="merchant-ac-academy" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-secondary"><span class="w-100">Merchant Academy: 2 years (10/0)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="merchant-ac-academy" class="toggle-section-content collapse">
		<p>Merchant academies spend two years on core skills and another two on specialty skills. The training isn't as advanced as Starfleet Academy training, but it's well-suited for civilian spacers. After the first two years, students are evaluated to see if they qualify for further training. A character who washes out may have to get a low-level position somewhere to continue training on-the-job.</p>
		<table class="table border package">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Computer Programming 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Language: Chosen (basic conversation)</td>
			</tr>
			<tr>
				<td>1</td>
				<td>KS: Law (UFP) 8-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>SysOp (Environmental Systems) 8-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Trading 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>TF: Shuttlecraft</td>
			</tr>
			<thead class="table-info">
				<th colspan=2>Perks</th>
			</thead>
			<tr>
				<td>0</td>
				<td>Interstellar Merchant's Certification: Merchant's Ticket</td>
			</tr>
		</table>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#merchant-ac-command" aria-controls="merchant-ac-command" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-primary"><span class="w-100">Merchant Academy Command School</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="merchant-ac-command" class="toggle-section-content collapse">
		<p>This optional school is required for any merchant who hopes to command a starship. The requirement to attend this school is waived for Starfleet officers who have completed Starfleet Command School or have two years of command experience in the field.</p>
		<p>As with other certifications, the Master's Ticket is awarded after a series of evaluations and tests, so it's possible to learn the required skills on the job.</p>
		<table class="table border package">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-warning">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Persuasion 8-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Starship Strategy: Tactics 8-</td>
			</tr>
			<thead class="table-warning">
				<th colspan=2>Perks</th>
			</thead>
			<tr>
				<td>0</td>
				<td>License to Master a Vessel in Space: Master's Ticket</td>
			</tr>
		</table>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#merchant-ac-engineering" aria-controls="merchant-ac-engineering" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-secondary"><span class="w-100">Engineering Specialty: 2 years (12/0)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="merchant-ac-engineering" class="toggle-section-content collapse">
		<p>General starship engineering. Merchant Academies are almost as advanced as Starfleet in this department, because you can't trade if your ship doesn't fly. After completing the program, students are licensed engineers anywhere the UPF/ITA is recognized.</p>
		<table class="table border package">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>3</td>
				<td>Astronautics: Mechanics 11-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Electronics 11-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Mechanics 11-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Space Science: SS: Warp Drive Physics 11-</td>
			</tr>
			<thead class="table-info">
				<th colspan=2>Perks</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Engineer: Fringe Benefit: License to practice a profession</td>
			</tr>
		</table>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#merchant-ac-helm" aria-controls="merchant-ac-helm" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-primary"><span class="w-100">Helm/Navigation Specialty: 2 years (9/0)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short-short"></i></div>
	</div>
	<div id="merchant-ac-helm" class="toggle-section-content collapse">
		<p>Helm and Navigation are combined positions for traders. People who take this specialty don't get the kind of deep, intensive training as Starfleet personnel, but they can competently crew either station. After the academy, Helm/Nav spacers sometimes specialize in one station or the other.</p>
		<table class="table border package">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-warning">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>3</td>
				<td>Astrogation: Navigation 11- <em>(Considered a space science for the purpose of skill levels, but not for skill enhancers.)</em></td>
			</tr>
			<tr>
				<td>2</td>
				<td>TF: Starship Helm <em><strong>Notes:</strong> Larger spacecraft with warp Drive</em></td>
			</tr>
			<tr>
				<td>2</td>
				<td>SysOp (Starship Sensors) 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>SysOp (Deflector Shields) 8-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>SysOp (Starship Weaponry) 8-</td>
			</tr>
		</table>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#merchant-ac-financial" aria-controls="merchant-ac-financial" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-secondary"><span class="w-100">Financial Specialty: 2 years (11/0)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="merchant-ac-financial" class="toggle-section-content collapse">
		<p>Where would the economy be without economists and accountants? This specialty is included because it was included in the old Star Trek RPG and because it adds flavor. If a player character takes this specialty, I'll add more economic and/or legal content to the story.</p>
		<p>Characters who complete this program can choose to spend an extra point to be an officailly licensed Certified Public Accountant. Prerequisites for this perk are the Accountant professional skill and a familiarity with the law of whatever place the accountant chooses to practice.</p>
		<table class="table border package">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Beaurocratics 8-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>PS: Accountant 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>KS: Accounting 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>KS: Interstellar Commerce 8-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>KS: Law (UFP) 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>KS: Law (Orion) 8-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>SS: Economics 8-</td>
			</tr>
			<thead class="table-info">
				<th colspan=2>Optional Perk (1 point extra)</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Accountant: Fringe Benefit: License to practice a profession</td>
			</tr>
		</table>
	</div>
</div>
<div class="toggle-section">
	<div class="card mb-3 toggle-section-header no-child-pointers" data-bs-toggle="collapse" href="#merchant-ac-security" aria-controls="merchant-ac-security" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-primary"><span class="w-100">Security Specialty: 2 years (11/0)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="merchant-ac-security" class="toggle-section-content collapse">
		<p>Civilian security is a bit looser than Starfleet, which is why they're trained in Bugging by default. They're trained with laser weapons because phasers are rather new at the time our game takes place.</p>
		<table class="table border package">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-warning">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>1</td>
				<td>Bugging 8-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Criminology 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Medical Science: SS: Psychology 8-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>PS: Security Procedures 11-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>KS: Law (UFP) 8-</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Tactics 8-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>WF: Laser Pistols, Laser Rifles</td>
			</tr>
		</table>
	</div>

	<div class="card mb-5" data-bs-toggle="collapse" href="#merchant-ac-communications" aria-controls="merchant-ac-communications" aria-expanded="false" role="button">
		<div class="card-header d-flex h4 font-weight-normal bg-secondary"><span class="w-100">Communications Specialty: 2 years (12/0)</span><i class="fa fa-chevron-right flex-shrink-1 pt-1 trans-all-short"></i></div>
	</div>
	<div id="merchant-ac-communications" class="toggle-section-content collapse">
		<p>This school is for running the Communications systems on a civilian starship or station. It's almost the same as Starfleet training, but doesn't include Cryptography.</p>
		<table class="table border package">
			<thead>
				<th>Cost</th>
				<th>Description</th>
			</thead>
			<thead class="table-info">
				<th colspan=2>Skills</th>
			</thead>
			<tr>
				<td>2</td>
				<td>CuK: Primary 11-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>CuK: Secondary 11-</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Language: Primary (completely fluent; literate)</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Language: Secondary (fluent conversation; literate)</td>
			</tr>			
			<tr>
				<td>1</td>
				<td>PS: Damage Control Procedures 8-</td>
			</tr>
			<tr>
				<td>2</td>
				<td>SysOp (Communication Systems) 11-</td>
			</tr>
		</table>
	</div>
</div>

