<table class="table table-bordered">
	<thead class="bg-primary text-white">
		<th>Pay Grade Descriptions</th>
	</thead>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Grade 0: Untrained, No Specialty Specified</strong></p>
			<p class="mb-0">Useful as untrained labor. This is the starting level for characters entering character creation as base-level labor, although these characters may start at a higher level if they qualify.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Grade 1: Minimal Training</strong></p>
			<p class="mb-0">Training probably gleaned from working with trained personnel. The character is useful as an untrained helper with some familiarity with the terminology and parameters of the field.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Grade 2: Limited Training</strong></p>
			<p class="mb-0">Training gained from working with trained personnel. This character can be useful to take readings and perform basic, non-diagnostic maintenance work.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Grade 3: Basic Training</strong></p>
			<p>Training gained on the job or as an apprentice. The character is able to perform routine work in his specialty, do well-defined diagnostics, and provide normal maintenance support.</p>
			<p class="mb-0">This is the minimum level for graduation from approved apprentice programs. The character is entitled to the designation TMS (Trained Merchant Specialist) after their name.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Grade 4: Advanced Training</strong></p>
			<p>Training gained partly on the job but mostly under trained tutelage or in school. The character is able to perform routine tasks in his specialty with no difficulty, do non-critical diagnostics, and master basic techniques of the field.</p>
			<p class="mb-0">This is the minimum grade for department head positions in departments with less than 10 persons. It is also the minimum level for graduation from approved Merchant Academy programs.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Grade 5: Operational Expertise</strong></p>
			<p>Training gained mostly under trained tutelage or in school. The character can perform all normal defined jobs and make reasonable progress in understanding theory or handling unusual situations based upon expertise.</p>
			<p class="mb-0">This is the minimum grade for department head positions in departments with 10 to 49 persons.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Grade 6: Professional Expertise</strong></p>
			<p>Training gained mostly in school and through experience. The character is able to direct teams in professional operations, is experienced in theory and practice of their specialty, and is capable of original conceptualization of basic techniques.</p>
			<p class="mb-0">This is the minimum grade for department head positions in departments with 50 persons or more.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Grade 7: Advanced Expertise</strong></p>
			<p class="mb-0">Training gained in school and throuh extensive professional experience. Teh character can direct teams in professional operations of a technical nature and in theoretical development, and is capable of advanced development of techniques and theory.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead mb-0"><strong>Grade 8: Master Level Expertise</strong></p>
			<p>Training gained through advanced schooling, research, and through extensive professional experience. The character is able to direct teams in advanced operations of major importance or in original research and development of new techniques or theory, and is capable of major advances in technique and theory.</p>
			<p class="mb-0">The character is entitled to the designation MMS (Master Merchant Specialist) after their name.</p>
		</td>
	</tr>
	<tr>
		<td>
			<p class="mb-0">Beyond Pay Grade 8, no further grades are defined. Those with even greater skill will negotiate their salaries and compensation on a case-by-case basis.</p>
		</td>
	</tr>
</table>
